<div id="footer1">Copyright © <span id="copyrightYear"></span> <a href="{{ blogBase['homeUrl'] }}">{{ blogBase['title'] }}</a></div>
<div id="footer2">
    {%- if blogBase['icpText']!='' -%}
    <span id="icp"><a href="https://beian.miit.gov.cn/" target="_blank">{{ blogBase['icpText'] }}</a></span>
    {%- endif %}
    {%- if blogBase['filingText']!='' -%}
    <span id="filing"> • <img src="https://beian.mps.gov.cn/web/assets/logo01.6189a29f.png" style="vertical-align: middle; height: 1em; width: auto;"> <a href="https://beian.mps.gov.cn/#/query/webSearch?code={{ blogBase['filingNum'] }}" rel="noreferrer" target="_blank" style="vertical-align: middle;">{{ blogBase['filingText'] }}</a></span>
    {%- endif %}
</div>
<div id="footer3"><span id="runday"></span><span>Powered by <a href="https://meekdai.com/Gmeek.html" target="_blank">Gmeek</a></span></div>

<script>
var now=new Date();
document.getElementById("copyrightYear").innerHTML=now.getFullYear();

if("{{ blogBase['startSite'] }}"!=""){
    var startSite=new Date("{{ blogBase['startSite'] }}");
    var diff=now.getTime()-startSite.getTime();
    var diffDay=Math.floor(diff/(1000*60*60*24));
    document.getElementById("runday").innerHTML="{{ i18n['run'] }}"+diffDay+"{{ i18n['days'] }}"+" • ";
}
</script>
